@model newDye.Models.Category
@{
    ViewBag.Title = "NewCategory";
}

<h2>NewCategory</h2>
<form class="form-group" method="post">

    <div>
        <label>EnteraCategoryName</label>
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryName, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">AddCategory</button>
    </div>
</form>
